<body>
  <h1 id="logo">Advice.com</h1>
  <h3 id="tagline">The place where you can ask anything and get meaningful feedback!</h3>
  <%= link_to 'Popular Articles', {controller: 'articles'}, {id: 'popart'} %>
</body>
