/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: 'Slabo 27px', serif;
  background: url(/assets/peopleconvo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: rgba(198, 215, 220, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
}

h1, h3 {
  text-align: center;
}

tr, td {
  padding: 10px;
}

a {
  text-decoration: none;
  background-color: rgba(50, 150, 200, 0.5);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

a:hover {
  background-color: gray;
}


#textbox {
  height: 200px;
  width: 400px;
  border-radius: 5px;
}

#titlebox {
  height: 25px;
  width: 200px;
  border-radius: 5px;
}

#commentbox {
  height: 200px;
  width: 400px;
  border-radius: 5px;
}

#commenttitle {
  height: 25px;
  width: 200px;
  border-radius: 5px;
}

#popart {
  background-color: rgba(50, 150, 200, 0.5);
  color: white;
  margin: 30px 625px 50px 635px;
  border: 1px solid gray;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#popart:hover {
  background-color: gray;
}

#logo {
  /*margin-top: 200px;
  padding-top: 50px;*/
  font-size: 50px;
}

#tagline {
  margin-top: 50px;
}

#arttitle {
  text-align: center;
  font-size: 30px;
}

#arttext {
  text-align: center;
  font-size: 15px;
}

