/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgba(70, 200, 100, 0.3);
}

h1, h3 {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

th, td, p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-decoration: none;
  background-color: rgba(50, 150, 200, 0.3);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

#textbox {
  height: 200px;
  width: 400px;
}

#titlebox {
  height: 25px;
  width: 200px;
}

#commentbox {
  height: 200px;
  width: 400px;
}

#commenttitle {
  height: 25px;
  width: 200px;
}
